*{background-color: black;
    color:white;
    text-align:center;
}

@media screen and (min-width:577px){
    *{font-size: 30px;}

    .width_change{width: 50%;}
    
    .display-1 {font-size: 100px;
        font-weight: bold;}

}

@media screen and (max-width:576px){
    *{font-size: 12px;}

    .width_change{width: 100%;}
    
    .display-1 {font-size: 50px;
        font-weight: bold;}

}

.footer {font-size: 22px;}

a:link {color:white;}
a:hover {color:lightgrey;}
a:visited {color:lightgrey;}