*{background-color: black;
    color:white;
    text-align:center;
    /* font-size: 30px; */
}

@media screen and (min-width:601px){
    *{font-size: 30px;}
}

@media screen and (max-width:600px){
    *{font-size: 25px;}
}

.display-1 {font-size: 100px;
            font-weight: bold;}

.footer {font-size: 22px;}

a:link {color:white;}
a:hover {color:lightgrey;}
a:visited {color:lightgrey;}